<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Testes Logs</title>
</head>
<body>
	<style>
h2 {
	color: white;
	font-family: Source Sans Pro Light;
	background-color: #009688;
	size: 100px;
}

.display-content {
	width: 100%;
	height: 370px;
	overflow: auto;
}

.formatador {
	color: black;
	font-family: Source Sans Pro Regular;
	font-size: 35px;
}

.icon-green {
	color: green;
}

.icon-red {
	color: red;
}

.icon-orange {
	color: orange;
}

.span-style {
	padding: 15px;
	font-weight: bold;
	font-size: 16px;
}

</style>

<h2> Teste Logs Manufatura</h2>
$content

</body>
<script type="text/javascript">
	function toggle(divNameToggle, iconName) {
		var isVisible = $('#' + divNameToggle).is(":visible");
		if (isVisible) {
			$('#' + divNameToggle).css('display', 'none');
			$('#' + iconName).attr('class', 'fas fa-angle-right')
		} else {
			$('#' + divNameToggle).css('display', 'block');
			$('#' + iconName).attr('class', 'fas fa-angle-down')
		}
	}
</script>
</html>